body {
    font-family: "Lato", sans-serif;
}
.sexy{
    background-color: #f5363E;
    padding-bottom: -20px;
    margin: -8px;
}

.Logo{
    width: 35px;
    height: 35px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.dokme {
    float: right;
    top: 0;
    padding-right: 10px;
    font-size:30px;
    cursor:pointer
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mySlides {display: none}

.IMG{
    width: 100%;
    height: 200px;
    max-height: 200px;
    margin-top: -2px;
    padding-right: -100px;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 8px -8px 0 -8px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dokme-paeen{
    text-align: center;
    margin-top: -35px;
    margin-left: -35px;
}

/* The dots/bullets/indicators */
.dot {
    text-align: center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.List-Kalaha{
    text-align: right;
}

.clear {
    clear: both;
}

.List-Kalaha ul {
    list-style: none;
    display: block;
    padding: 4px;
    margin: 4px;
}

.List-Kalaha ul li {
    display: inline-block;
    background-color: #f5363E;
    margin: 10px 2px;
    padding: 10px 20px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid #272727;
}

.List-Kalaha ul li a {
    color: #FDFDFD;
    text-decoration: none;
}

.List-Kalaha ul li:hover a{
    color:#f5363E;
    display:block;
}

.List-Kalaha li:hover{
    background-color:#FDFDFD;
    padding: -1px;
    color: #000;
    border: 1px solid #f5363E;
}

.btn-kala {
    font-size: 18px;
    margin-top: 18px;
    border-radius: 20px;
    outline: none;
    padding: 6px 16px;
    background-color: #f5363E;
    color: whitesmoke;
    cursor: pointer;
}

.btn-kala:hover {
    background-color: grey;
}
.New-Crop{
    text-align: right;
    margin-top: 8px;
    margin-right: 5px;
    font-size: large;
    background-color: grey;
    padding: 9px;
}

.Kategory-Slide{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    margin-right: 5px;
}
.Kategory-Img{
    width: 120px;
    height: 120px;
}

.N-Kala{
    text-align: right;
    font-size: 18px;
}

.Menu-Scroll{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;

}
@viewport{
    zoom: 1.0;
}
@-ms-viewport {
    zoom: 1.0;
}